html,
header{
    text-align: center;
    display: inline-block;
}

ul.horizontal{
    margin:0;
    padding:0;
    }

ul.horizontal li{
    display:block;
    float:left;
    padding:0 10px;
}
    

body{
    font-family: 'Raleway', sans-serif;
    height: 100%;
	background: none;
}

ol,ul{
    list-style: none;
    text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 2px;
	color: #e9aaaa;
	font-weight: 400;
	font-family: "Raleway", sans-serif;
}